.AddContact__container {
  padding: 1rem;
  border: 2px solid #000000 ; 
  border-radius: 40px;
  margin: 1rem;
  background: #d39797;
  height: 100%;
  font-size: 1.2rem;
}
.form__link {
  text-decoration: none;
  font-size: inherit;
  border: 2px solid #000000 ; 
  border-radius: 40px;
  color: #3c3c3c;
}
.AddContact__form {
  background-color: #ddd;
  margin: 1rem;
  border: 2px solid #000000 ; 
  border-radius: 40px;
  padding: 1rem;
}
.AddContact__form label {
  display: block;
  font-size: 1.3rem;
  border: 2px solid #000000 ; 
  border-radius: 40px;
  color: #3c3c3c;
  margin-bottom: 5px;
}
.AddContact__form input {
  width: 30%;
  padding: 5px;
  border: 2px solid #000000 ; 
  border-radius: 40px;
  font-size: inherit;
}
.form__control {
  margin: 1rem 0;
}
.form__display {
  margin: 1rem 0;
}
.form__add {
  display: inline-block;
  background-color: green;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-size: inherit;
  border: 2px solid #000000 ; 
  border-radius: 40px;
}

.form__error {
  color: red;
  border: 2px solid #000000 ; 
  border-radius: 40px;
}
